html {
  user-select: auto !important;
  -webkit-user-select: auto !important;
}

body {
  background: #f3f4f6;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

::selection {
  background-color: #ffd3d5; /* Yellow background */
  color: #242424; /* Black text */
}
